@model DoList

<h1>Task Details</h1>

<h3 class="mb-3"><span class="text-danger " >Task Title</span>: @Model.Title</h3>

<p><span class="text-danger">Task Description</span> : @Model.Description</p>

<h2><span class="text-danger" >DueDate</span>@Model.dueDate</h2>

<h3> <span class="text-danger"> Status : </span>@Model.status</h3>